beautifulsoup4==4.12.2
black==23.7.0
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
dnspython==2.4.2
idna==3.4
lxml==4.9.3
mongoengine==0.27.0
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.2
platformdirs==3.10.0
pymongo==4.4.1
redis==5.0.0
redis-lru==0.1.2
requests==2.31.0
soupsieve==2.4.1
urllib3==2.0.4
